body {
    background-color: #000000;
    
    padding:0px;
    margin:0px;
    width:100vw;
    height:100vh;
    position:relative ;
    perspective: 1500px ;
    
    transform-style: preserve-3d;
}

div{
    
    position:absolute;
    
    bottom: calc(50vh - 150px);
    box-sizing: border-box;
    
    width: 200px;
    height: 300px;
    border: #760f0f;
    box-shadow:2px 2px 9px #760f0f;
    border-radius: 30px;
    cursor: pointer;
    transform: rotateX(75deg);
    transform-origin: center bottom;
    transition: transform .6s linear;
}
div:hover {
    transform: none;
}

.card-1 {
    left: calc(50vw - 100px - 250px);
}

.card-2 {
    left: calc(50vw - 100px);
}

.card-3 {
    left: calc(50vw - 100px + 250px);
}
.card-4 {
    left: calc(50vw - 700px);
}

.card-5 {
    left: calc(50vw - 100px + 500px);
}
div.card-1 {
    background-image: linear-gradient(to right top, blue, skyblue, blue);
} 
div.card-2 {
    background-image: linear-gradient(to right top, green, lime, green);
} 
div.card-3 {
    background-image: linear-gradient(to right top, purple, pink, purple);
} 

div.card-4 {
    background-image: linear-gradient(to right top, rgb(164, 31, 179), rgb(92, 28, 165), rgb(135, 150, 70));
} 
div.card-5 {
    background-image: linear-gradient(to right top, rgb(239, 158, 239), rgb(46, 7, 13), rgb(232, 10, 232));
} 
